<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NewsMood Search</title>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="main.js"></script>

    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/indexcss.css') }}">
  </head>
  <body bgcolor="white">
    <br><br><br>
    <div style="text-align: center;">
      <input id="searchtextbox" type="text" name="searchstring" class="textbox">
      <button onclick="run(document.getElementById('searchtextbox').value)" type="button" id="publication" class="styled">Search</button>
    </div>
    <br><br><br>
    <div style="text-align: center;">
      <a href="generalstats.html" type="button" id="general stats" class="styled">General Statistics</a>
    </div>
    <div style="position: fixed; bottom: 0; width:100%; text-align: center; color: white">
      <p>News articles from NewsApi.org</p>
    </div>
    <div id="tConnotation"></div>
    <div id="tPercentage" style="width: 500px; height: 500px"></div>
  </body>
</html>
